@tailwind base;
@tailwind components;
@tailwind utilities;

.menubar{

    height: 100vh;
    width: 300px;
    background-color: black;

}
.panellogo{
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pulse{
    font-size: 19px;
    height: 20px;
}
.mainlogotext{
 height: 55px;
 padding: 5px;   


}
.travel{
    font-size: 14px;
}
.sections{
    color: white;

}
.sections a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 22px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid rgb(97, 97, 97);
}
.panelframe{
    display: flex;
}
.menu{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tourimage{
    text-decoration: none;
}
form{
    width: 800px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 3px;
}
.tours input{
    width: 750px;
    padding: 20px;
    background-color: black;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.tours{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.tourstittle{
    display: flex;
    gap: 5px;
}
.tours button{
    margin-top: 10px;
}

.transportselector{
    width: 800px;


    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transportselector a{

    padding: 20px;
    border: 1px solid black;
    width: 30%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;

}
.greenlight{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 1px 1px 31px 10px #10b981;
    transition: 0.5s;
}
.tours select{
    padding: 20px;
    background-color: black;
    color: white;
}
.panelinputdiv{
    display: flex;
}
.panelinputdiv img{
  width: 40px;
  height: 40px;

}
.cover{
    background-color: black;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}