@tailwind base;
@tailwind components;
@tailwind utilities;

.menubar{

    height: 100vh;
    width: 300px;
    background-color: black;

}
.panellogo{
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pulse{
    font-size: 19px;
    height: 20px;
}
.mainlogotext{
 height: 55px;
 padding: 5px;   


}
.travel{
    font-size: 14px;
}
.sections{
    color: white;

}
.sections a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 22px;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid rgb(97, 97, 97);
}
.panelframe{
    display: flex;
}
.menu{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tourimage{
    text-decoration: none;
}
form{
    width: 800px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 3px;
}
.tours input{
    width: 750px;
    padding: 20px;
    background-color: black;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.tours{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.tourstittle{
    display: flex;
    gap: 5px;
}
.tours button{
    margin-top: 10px;
}

.transportselector{
    width: 800px;


    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transportselector a{

    padding: 20px;
    border: 1px solid black;
    width: 30%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;

}
.greenlight{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 1px 1px 31px 10px #10b981;
    transition: 0.5s;
}
.tours select{
    padding: 20px;
    background-color: black;
    color: white;
}
.panelinputdiv{
    display: flex;
}
.panelinputdiv img{
  width: 40px;
  height: 40px;

}
.cover{
    background-color: black;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logoheader{
    display: flex;
    align-items: center;
    gap: 4px;
}
.headerframe{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headersections{
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;

}
.contactheader{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backgroundimage{
    position: absolute;
    z-index: -1;
    top: 0;
}
.search{
    width: 100%;
    height: 1025px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchframe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 200px;
}
.searchtittle{
    font-size: 24px;
}
.searchinput{
    margin-top: 20px;
}
.searchinput img{
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchinput input{
    width: 800px;
    color: black;
    border: 0;
    outline: 0;
    
}
.allroutesbtn{
    margin-top: 20px;
    padding: 20px;
    background-color: #FF4646;
    width: 230px;
    color: white;
}
.backgroundimage{
    width: 100%;
    height: 1080px;
}
.europe{
    width: 100%;
    padding: 10px;
}

.traveldata{
    width: 700px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.travelprice{
    font-size: 24px;
}
.xantime{
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 3px;
    
}
.goodpng{
    gap: 25px;
}
.traveldata{
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1.5px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
   box-shadow: 5px 5px 25px 2px rgb(201, 201, 201);

}  
.traveler{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 1.5px;
    padding: 10px;
}
.dajavnshnabtn{
    padding: 15px;
    width: 100%;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    ;
    
}
.travellist{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.traveldata{
    min-width: 700px;

}
.imager{
    width: 700px;
    height: 388px;
    background-size: cover;
    background-position: center;
    
}
.travellist{
    padding: 20px;
}

.travellist::-webkit-scrollbar{
    height: 10px;
    background-color: rgb(184, 184, 184);
    border-radius: 15px;
    padding: 10px;
  }
  .travellist::-webkit-scrollbar-thumb{
    background-color: #7982ff;
    border-radius: 15px;

  }
  .eurosvg{
   width: 300px;
   height: 300px;
  }

